.sign-up-insecure-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 400px;
    display: grid;
    gap: 1rem;
    .wrapper-input {
      display: grid;
      gap: 1rem;
    }
  }
  button {
    margin-top: 2rem;
  }
  .card {
    width: 250px;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }
}