.sign-up-secure-page {
  img {
    width: 250px;
  }
  .wrapper-boxes {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    .box {
      max-width: 280px;
      border-radius: 10px;
    }
  }
}
