.default-layout {
  height: 100vh;
  nav {
    width: 100vw;
    max-width: fit-content;
    height: 100vh;
    padding: 1rem;
    background-color: var(--background_secondary);
    position: absolute;
    box-shadow: var(--box_shadow);
    transition: var(--transition);
    z-index: 1000;
    .icon-control {
      width: 100%;
      margin-bottom: 3rem;
      i {
        cursor: pointer;
        font-size: 40px;
      }
    }
    &.open {
      max-width: 250px;
      transition: var(--transition);
      .icon-control {
        display: flex;
        justify-content: end;
      }
    }
    a {
      text-decoration: none;
      h5 {
        padding-left: 1rem;
      }
    }
  }
  header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100vw;
    padding: 0 6.5rem;
    background-color: var(--background_secondary);
    box-shadow: var(--box_shadow);
    h1 {
      margin: 0;
    }
  }
  .page {
    width: 100vw;
    height: 100vh;
    padding: 2rem 2rem 2rem 7rem;
  }
}
